#### Data Type Constraints Chapter
Install Dependencies

In [2]:
!pip3 install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.4.2)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (1.22.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

Import .csv
Print summary info and statistics

In [4]:
# Numeric data or ... ?
import pandas as pd
filename = 'ride_sharing_new.csv'
ride_sharing = pd.read_csv(filename)

print(ride_sharing.info())
print(ride_sharing['user_type'].describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25760 entries, 0 to 25759
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       25760 non-null  int64
 1   duration         25760 non-null  object
 2   station_A_id     25760 non-null  int64
 3   station_A_name   25760 non-null  object
 4   station_B_id     25760 non-null  int64
 5   station_B_name   25760 non-null  object
 6   bike_id          25760 non-null  int64
 7   user_type        25760 non-null  int64
 8   user_birth_year  25760 non-null  int64
 9   user_gender      25760 non-null  object
dtypes: int64(6), object(4)
memory usage: 2.0+ MB
None

Convert user_type from integer to category
Write an assert statement confirming the change
Print new summary statistics

In [14]:
ride_sharing['user_type_cat'] = ride_sharing['user_type'].astype('category')
assert ride_sharing['user_type_cat'].dtype == 'category'
print(ride_sharing['user_type_cat'].head())
print(ride_sharing['user_type_cat'].describe())

0    2
1    2
2    3
3    1
4    2
Name: user_type_cat, dtype: category
Categories (3, int64): [1, 2, 3]
count     25760
unique        3
top           2
freq      12972
Name: user_type_cat, dtype: int64

Converting the string column duration to the type int. Before that however, you will need to make sure to strip "minutes" from the column in order to make sure pandas reads it as numerical

In [17]:
ride_sharing['duration_int'] = ride_sharing['duration'].str.strip('minutes').astype('int')
assert ride_sharing['duration_int'].dtype == 'int'
print(ride_sharing['duration_int'].mean())

11.389052795031056

In [18]:
print(ride_sharing.head())

   Unnamed: 0    duration  station_A_id  \
0           0  12 minutes            81
1           1  24 minutes             3
2           2   8 minutes            67
3           3   4 minutes            16
4           4  11 minutes            22

                                      station_A_name  station_B_id  \
0                                 Berry St at 4th St           323
1       Powell St BART Station (Market St at 4th St)           118
2  San Francisco Caltrain Station 2  (Townsend St...            23
3                            Steuart St at Market St            28
4                              Howard St at Beale St           350

                    station_B_name  bike_id  user_type  user_birth_year  \
0               Broadway at Kearny     5480          2             1959
1  Eureka Valley Recreation Center     5193          2             1965
2    The Embarcadero at Steuart St     3652          3             1993
3     The Embarcadero at Bryant St     1883          1             1979
4             8th St at Brannan St     4626          2             1994

  user_gender user_type_cat  duration_int
0        Male             2            12
1        Male             2            24
2        Male             3             8
3        Male             1             4
4        Male             2            11