#### 2 Converting Between Wide and Long Format

Master the technique of reshaping DataFrames from wide to long format. In this chapter, you'll learn how to use the melting method and wide to long function before discovering how to handle string columns by concatenating or splitting them.

##### Gothic times
You have a new project! Your boss has asked you to perform an analysis with a dataset of books. You have several tasks to complete. Your first task is to analyze Gothic fiction books.

The dataset books_gothic is in a wide format. Any analysis will require you to reshape the data into a long format. To that aim, you will melt your dataset. You will reshape the dataset using several variables as identifiers to decide which is the best format.

The books_gothic dataset is available for you. Make sure to examine it in the console!

In [4]:
import pandas as pd

filename = 'books2.csv'
books_gothic = pd.read_csv(filename, index_col=0)


# Melt books_gothic using the title column as identifier 
gothic_melted = books_gothic.melt(id_vars='title')

# Print gothic_melted
print(gothic_melted)

                         title      variable              value
0            Wuthering Heights       authors       Emily Bronte
1                 Frankenstein       authors       Mary Shelley
2   The Picture of Dorian Gray       authors        Oscar Wilde
3            Wuthering Heights     num_pages                322
4                 Frankenstein     num_pages                189
5   The Picture of Dorian Gray     num_pages                187
6            Wuthering Heights  rating_count               2155
7                 Frankenstein  rating_count               2452
8   The Picture of Dorian Gray  rating_count               3342
9            Wuthering Heights        rating               3.85
10                Frankenstein        rating               4.31
11  The Picture of Dorian Gray        rating               4.15
12           Wuthering Heights     publisher      Penguin Books
13                Frankenstein     publisher  Kaplan Publishing
14  The Picture of Dorian Gray     publisher            Pearson

In [5]:
# Melt books_gothic using the title, authors, and publisher columns as identifier
gothic_melted_new = books_gothic.melt(id_vars=['title','authors', 'publisher'])

# Print gothic_melted_new
print(gothic_melted_new)

                        title       authors          publisher      variable  \
0           Wuthering Heights  Emily Bronte      Penguin Books     num_pages
1                Frankenstein  Mary Shelley  Kaplan Publishing     num_pages
2  The Picture of Dorian Gray   Oscar Wilde            Pearson     num_pages
3           Wuthering Heights  Emily Bronte      Penguin Books  rating_count
4                Frankenstein  Mary Shelley  Kaplan Publishing  rating_count
5  The Picture of Dorian Gray   Oscar Wilde            Pearson  rating_count
6           Wuthering Heights  Emily Bronte      Penguin Books        rating
7                Frankenstein  Mary Shelley  Kaplan Publishing        rating
8  The Picture of Dorian Gray   Oscar Wilde            Pearson        rating

     value
0   322.00
1   189.00
2   187.00
3  2155.00
4  2452.00
5  3342.00
6     3.85
7     4.31
8     4.15

##### Rating is not everything
Your first exploration of the books_gothic dataset was successful. Now, your next task is to perform a more detailed analysis. You need to reshape your DataFrame again. This time, you don't want to use all of your variables.

To that aim, you will melt your DataFrame, taking several approaches using different columns as identifiers and value variables.

The same books_gothic dataset you used before is available for you. It contains data about the title, author, number_pages, rating, rating_count, and publisher of each book. Make sure to examine it in the console!

In [8]:
# Define a new DataFrame by melting the publisher column using the title and authors columns as identifier variables.
# Melt publisher column using title and authors as identifiers
publisher_melted = books_gothic.melt(id_vars=['title','authors'], value_vars='publisher')

# Print publisher_melted
print(publisher_melted)
print()

# Melt the rating and rating_count columns of books_gothic DataFrame using the title column as an identifier variable.
# Melt rating and rating_count columns using the title as identifier
rating_melted = books_gothic.melt(id_vars=['title'], value_vars=['rating', 'rating_count'])

# Print rating_melted
print(rating_melted)
print()

# Melt the rating and rating_count columns of book_gothic using the title and authors columns as identifier variables.
# Melt rating and rating_count columns using title and authors as identifier
books_melted = books_gothic.melt(id_vars=['title','authors'], value_vars=['rating', 'rating_count'])

# Print books_melted
print(books_melted)

                        title       authors   variable              value
0           Wuthering Heights  Emily Bronte  publisher      Penguin Books
1                Frankenstein  Mary Shelley  publisher  Kaplan Publishing
2  The Picture of Dorian Gray   Oscar Wilde  publisher            Pearson

                        title      variable    value
0           Wuthering Heights        rating     3.85
1                Frankenstein        rating     4.31
2  The Picture of Dorian Gray        rating     4.15
3           Wuthering Heights  rating_count  2155.00
4                Frankenstein  rating_count  2452.00
5  The Picture of Dorian Gray  rating_count  3342.00

                        title       authors      variable    value
0           Wuthering Heights  Emily Bronte        rating     3.85
1                Frankenstein  Mary Shelley        rating     4.31
2  The Picture of Dorian Gray   Oscar Wilde        rating     4.15
3           Wuthering Heights  Emily Bronte  rating_count  2155.00
4                Frankenstein  Mary Shelley  rating_count  2452.00
5  The Picture of Dorian Gray   Oscar Wilde  rating_count  3342.00

##### How is Frankenstein, Dorian Gray?
You are satisfied with the way you reshaped the books_gothic DataFrame, however, you would like to finish your work by naming the newly-created columns. This will help you clarify what the variables and values are.

You remember that .melt() allows you to do that. In order to achieve your goal, you will reshape your DataFrame in three steps.

The same books_gothic dataset you used before is available for you. It contains data about the title, author, number_pages, rating, rating_count, and publisher of each book. Make sure to examine it in the console!

In [9]:
# Define a new books_ratings DataFrame by melting the rating and rating_count columns using the title, authors, and publisher as identifier variables.
# Inside the .melt() call, assign the name 'feature' to the column that contains the variable names.
# Inside the .melt() call, assign the name 'number' to the resulting value column.
# Assign the name feature to the new variable column
books_ratings = books_gothic.melt(id_vars=['title', 'authors', 'publisher'], 
                                  value_vars=['rating', 'rating_count'], 
                                  var_name='feature', 
                                  value_name='number')

# Print books_ratings
print(books_ratings)

                        title       authors          publisher       feature  \
0           Wuthering Heights  Emily Bronte      Penguin Books        rating
1                Frankenstein  Mary Shelley  Kaplan Publishing        rating
2  The Picture of Dorian Gray   Oscar Wilde            Pearson        rating
3           Wuthering Heights  Emily Bronte      Penguin Books  rating_count
4                Frankenstein  Mary Shelley  Kaplan Publishing  rating_count
5  The Picture of Dorian Gray   Oscar Wilde            Pearson  rating_count

    number
0     3.85
1     4.31
2     4.15
3  2155.00
4  2452.00
5  3342.00

##### The golden age
In this exercise, you'll continue working on the book project. Now, you'll analyze books from the Golden Age.

Upon inspection, you discovered that the dataset golden_age needs reshaping. You noticed that some column names start with the same prefix (stub names) and identified other columns to use as unique IDs.

For that reason, you'll reshape your DataFrame in several ways. Use the function wide_to_long() along with each instruction.

The golden_age dataset is available for you. It contains the title, authors, and data about the universal identifier ISBN and prefix for countries of each book.

In [14]:
filename = 'golden_age.csv'
golden_age = pd.read_csv(filename, index_col=0)

print(golden_age)
print('-')
print()

# Reshape wide to long using title as index and version as new name, and extracting isbn prefix 
# Set title as the unique index. Extract the prefix from isbn10 and isbn13. Name the new variable created version.
# g(df, stubnames, i, j, sep='', suffix='\\d+')[source]¶
isbn_long = pd.wide_to_long(golden_age, 
                    stubnames='isbn', 
                    i='title', 
                    j='version')

# Print isbn_long
print(isbn_long)
print('-')
print()

# Set title and authors as the index. Get the prefix from prefix10 and prefix13. Name the new variable version.
# Reshape wide to long using title and authors as index and version as new name, and prefix as wide column prefix
prefix_long = pd.wide_to_long(golden_age, 
                    stubnames='prefix', 
                    i=['title', 'authors'],
                    j='version')

# Print prefix_long
print(prefix_long)
print('-')
print()

# Set title and authors as unique indexes. Extract the prefixes isbn and prefix. Name the new variable version.
# Reshape wide to long using title and authors as index and version as new name, and prefix and isbn as wide column prefixes
all_long = pd.wide_to_long(golden_age, 
                    stubnames=['isbn', 'prefix'],
                    i=['title', 'authors'],
                    j='version')

# Print all_long
print(all_long)
print()

               title              authors         isbn13      isbn10  \
0   The Great Gatsby  F. Scott Fitzgerald  9780060098919  1572702567
1  The Short Stories     Ernest Hemingway  9780684837864   684837862
2  To the Lighthouse       Virginia Woolf  9780156030472   156030470

   prefix13  prefix10
0       978         1
1       978         0
2       978         0
-

                           prefix10              authors  prefix13  \
title             version
The Great Gatsby  13              1  F. Scott Fitzgerald       978
The Short Stories 13              0     Ernest Hemingway       978
To the Lighthouse 13              0       Virginia Woolf       978
The Great Gatsby  10              1  F. Scott Fitzgerald       978
The Short Stories 10              0     Ernest Hemingway       978
To the Lighthouse 10              0       Virginia Woolf       978

                                    isbn
title             version
The Great Gatsby  13       9780060098919
The Short Stories 13       9780684837864
To the Lighthouse 13       9780156030472
The Great Gatsby  10          1572702567
The Short Stories 10           684837862
To the Lighthouse 10           156030470
-

                                                      isbn13      isbn10  \
title             authors             version
The Great Gatsby  F. Scott Fitzgerald 13       9780060098919  1572702567
                                      10       9780060098919  1572702567
The Short Stories Ernest Hemingway    13       9780684837864   684837862
                                      10       9780684837864   684837862
To the Lighthouse Virginia Woolf      13       9780156030472   156030470
                                      10       9780156030472   156030470

                                               prefix
title             authors             version
The Great Gatsby  F. Scott Fitzgerald 13          978
                                      10            1
The Short Stories Ernest Hemingway    13          978
                                      10            0
To the Lighthouse Virginia Woolf      13          978
                                      10            0
-

                                                        isbn  prefix
title             authors             version
The Great Gatsby  F. Scott Fitzgerald 13       9780060098919     978
                                      10          1572702567       1
The Short Stories Ernest Hemingway    13       9780684837864     978
                                      10           684837862       0
To the Lighthouse Virginia Woolf      13       9780156030472     978
                                      10           156030470       0

##### Decrypting the code
You are doing a great job on the book project! Your boss encouraged you to do an analysis using books written by Dan Brown.

You explored the dataset books_brown and it needs reshaping. Again, you identified several columns to use as unique IDs and realized something different about the columns to group. Their name starts with a prefix, but this time, you identified a suffix and a separation element.

The books_brown dataset is available for you. It contains the title, authors, and data about language_code, language_name, publisher_code, and publisher_name of each book. Make sure to examine it in the console!

In [17]:
filename = 'books_brown.csv'
books_brown = pd.read_csv(filename, index_col=0)

print(books_brown)
print()

# Reshape books_brown from wide to long format, using the columns author and title as unique indexes. Name 'code' the new column created from the columns starting with language and publisher. Don't forget to examine the printed output.
# Reshape using author and title as index, code as new name and getting the prefix language and publisher
# (df, stubnames, i, j, sep='', suffix='\\d+')[source]
# Inside the wide_to_long() call, specify an underscore as the separator between the variable names in the wide columns. Don't forget to examine the printed output.
# Specify underscore as the character that separates the variable names
# Inside the wide_to_long() call, specify that the wide column names end in a word.

the_code_long = pd.wide_to_long(books_brown, 
                                stubnames=['language', 'publisher'], 
                                i=['author', 'title'], 
                                j='code', 
                                sep='_',
                                suffix='\\w+')

# Print the_code_long
print(the_code_long)

                  title     author  language_code language_name  \
0     The Da Vinci Code  Dan Brown              0       english
1       Angels & Demons  Dan Brown              0       english
2  La fortaleza digital  Dan Brown             84       spanish

   publisher_code publisher_name
0              12   Random House
1              34   Pocket Books
2              43        Umbriel

                                    language     publisher
author    title                code
Dan Brown The Da Vinci Code    code        0            12
                               name  english  Random House
          Angels & Demons      code        0            34
                               name  english  Pocket Books
          La fortaleza digital code       84            43
                               name  spanish       Umbriel

##### Time to read, Katniss!
It's almost time to finish working for the day. But first, you would like to do an analysis for fun. You will analyze another book dataset, this time with the Hunger Games series.

You explored the dataset books_hunger before reshaping it, but something was not right. The index of the DataFrame contains the title of the books. You know that you cannot reshape it in this format. If you do, you will lose valuable data, the title, so you'll need to make some changes before transforming the DataFrame.

The books_hunger dataset is available for you. It contains the title, and data about language, publication date, publication number, and page number of each book.

In [23]:
filename = 'books_hunger.csv'
books_hunger = pd.read_csv(filename, index_col=0)

print(books_hunger)
print()

                       language publication date  publication number  \
title
Los Juegos del Hambre   Spanish        5/25/2010                   2
Catching Fire           English        5/25/2012                   6
Il canto della rivolta  Italian         6/8/2015                   4

                        page number
title
Los Juegos del Hambre           374
Catching Fire                   391
Il canto della rivolta          390

In [24]:
# Modify books_hunger by resetting the index without dropping it
books_hunger.reset_index(drop=False, inplace=True)

print(books_hunger)
print()

# Reshape using title and language as index, feature as new name, publication and page as prefix separated by space and ending in a word
publication_features = pd.wide_to_long(
                                books_hunger, 
                                stubnames=['publication', 'page'], 
                                i=['title', 'language'], 
                                j='feature', 
                                sep=' ',
                                suffix='\\w+')

# Print publication_features
print(publication_features)

                    title language publication date  publication number  \
0   Los Juegos del Hambre  Spanish        5/25/2010                   2
1           Catching Fire  English        5/25/2012                   6
2  Il canto della rivolta  Italian         6/8/2015                   4

   page number
0          374
1          391
2          390

                                        publication   page
title                  language feature
Los Juegos del Hambre  Spanish  date      5/25/2010    NaN
                                number            2  374.0
Catching Fire          English  date      5/25/2012    NaN
                                number            6  391.0
Il canto della rivolta Italian  date       6/8/2015    NaN
                                number            4  390.0

##### Did you say dystopia?
Another day at work, another day working with your book project! You are very excited because you have been making a lot of progress. You plan to work on a dataset about dystopian fiction books.

But first, you need to do some string manipulations. You realize that the DataFrame index contains data about the title and the release year. You can't find a column with the author of the book, so you decide to pre-define a list of the writers. Then, you want to delete the year and replace it with the author.

You decide that splitting the index and then concatenating it with the list is the best way to do it.

The books_dys dataset and author_list are available for you. Make sure to examine it in the console!

In [32]:
filename = 'books_dys.csv'
books_dys = pd.read_csv(filename, index_col=0)
print(books_dys)
print()

# Split the string separated by a hyphen contained in the index of books_dys. Assign it to the index
# Split the index of books_dys by the hyphen 
books_dys.index = books_dys.index.str.split("-")

# Print books_dys
print(books_dys)
print()

books_dys = pd.read_csv(filename, index_col=0)

# Get the first element after splitting the index of books_dys
books_dys.index = books_dys.index.str.split("-").str.get(0)

# Print books_dys
print(books_dys)
print()

author_list = ['Ray Bradbury', 'George Orwell', 'Aldous Huxley']

# Concatenate the index with the list author_list separated by a hyphen
books_dys.index = books_dys.index.str.cat(author_list, sep="-")

# Print books_dys
print(books_dys)

                      year  num_pages  average_rating  ratings_count
title
Fahrenheit 451-1953   1953        186            4.10          23244
1984-1949             1949        268            4.31          14353
Brave New World-1932  1932        123            4.30          23535

                         year  num_pages  average_rating  ratings_count
title
[Fahrenheit 451, 1953]   1953        186            4.10          23244
[1984, 1949]             1949        268            4.31          14353
[Brave New World, 1932]  1932        123            4.30          23535

                 year  num_pages  average_rating  ratings_count
title
Fahrenheit 451   1953        186            4.10          23244
1984             1949        268            4.31          14353
Brave New World  1932        123            4.30          23535

                               year  num_pages  average_rating  ratings_count
title
Fahrenheit 451-Ray Bradbury    1953        186            4.10          23244
1984-George Orwell             1949        268            4.31          14353
Brave New World-Aldous Huxley  1932        123            4.30          23535

##### What's your rating, Harry?
You fix yourself a coffee and keep working on your book project. For your next task, you need to get an appropriate dataset containing ratings for all the Harry Potter books. You gathered data from Goodreads as well as from Amazon.

You realized that you need a long format, but the dataset hp_books is in a wide format. You want to melt the data, but first, you need to manipulate some of the string columns.

The full title is divided into two columns. The authors column contains info about the writer and the illustrator.

Ratings for the Harry Potter books are in the DataFrame hp_books. Make sure to examine it in the console!

In [49]:
filename = 'hp_books.csv'
hp_books = pd.read_csv(filename, index_col=0)
print(hp_books)
print()

# Concatenate the title and subtitle separated by "and" surrounded by spaces
hp_books['full_title'] = hp_books['title'].str.cat(hp_books['subtitle'], sep =" and ")

          title                  subtitle                     authors  \
0  Harry Potter     the Half-Blood Prince  J.K. Rowling/Mary GrandPré
1  Harry Potter  the Order of the Phoenix  J.K. Rowling/Mary GrandPré
2  Harry Potter    the Chamber of Secrets                J.K. Rowling
3  Harry Potter   the Prisoner of Azkaban  J.K. Rowling/Mary GrandPré
4  Harry Potter       The Deathly Hallows  J.K. Rowling/Mary GrandPré
5  Harry Potter      the Sorcerer's Stone  J.K. Rowling/Mary GrandPré
6  Harry Potter        the Goblet of Fire                J.K. Rowling

   goodreads  amazon
0       4.57    4.52
1       4.49    4.44
2       4.42    4.37
3       4.56    4.51
4       4.42    4.37
5       4.47    4.42
6       4.56    4.51

In [50]:
# Split the authors into writer and illustrator columns
hp_books[['writer', 'illustrator']] = hp_books['authors'] .str.split("/", expand=True) 
print(hp_books)

          title                  subtitle                     authors  \
0  Harry Potter     the Half-Blood Prince  J.K. Rowling/Mary GrandPré
1  Harry Potter  the Order of the Phoenix  J.K. Rowling/Mary GrandPré
2  Harry Potter    the Chamber of Secrets                J.K. Rowling
3  Harry Potter   the Prisoner of Azkaban  J.K. Rowling/Mary GrandPré
4  Harry Potter       The Deathly Hallows  J.K. Rowling/Mary GrandPré
5  Harry Potter      the Sorcerer's Stone  J.K. Rowling/Mary GrandPré
6  Harry Potter        the Goblet of Fire                J.K. Rowling

   goodreads  amazon                                 full_title        writer  \
0       4.57    4.52     Harry Potter and the Half-Blood Prince  J.K. Rowling
1       4.49    4.44  Harry Potter and the Order of the Phoenix  J.K. Rowling
2       4.42    4.37    Harry Potter and the Chamber of Secrets  J.K. Rowling
3       4.56    4.51   Harry Potter and the Prisoner of Azkaban  J.K. Rowling
4       4.42    4.37       Harry Potter and The Deathly Hallows  J.K. Rowling
5       4.47    4.42      Harry Potter and the Sorcerer's Stone  J.K. Rowling
6       4.56    4.51        Harry Potter and the Goblet of Fire  J.K. Rowling

     illustrator
0  Mary GrandPré
1  Mary GrandPré
2           None
3  Mary GrandPré
4  Mary GrandPré
5  Mary GrandPré
6           None

In [52]:
# Define a DataFrame hp_melt by melting the goodreads and amazon columns into a single column named source. Assign the name rating to the resulting value column. Use only the full title and the writer as identifier variables.
# Melt goodreads and amazon columns into a single column
hp_melt = hp_books.melt(id_vars=['full_title', 'writer'], 
                        var_name='source', 
                        value_vars=['goodreads','amazon'],
                        value_name='rating')

# Print hp_melt
print(hp_melt)

                                   full_title        writer     source  rating
0      Harry Potter and the Half-Blood Prince  J.K. Rowling  goodreads    4.57
1   Harry Potter and the Order of the Phoenix  J.K. Rowling  goodreads    4.49
2     Harry Potter and the Chamber of Secrets  J.K. Rowling  goodreads    4.42
3    Harry Potter and the Prisoner of Azkaban  J.K. Rowling  goodreads    4.56
4        Harry Potter and The Deathly Hallows  J.K. Rowling  goodreads    4.42
5       Harry Potter and the Sorcerer's Stone  J.K. Rowling  goodreads    4.47
6         Harry Potter and the Goblet of Fire  J.K. Rowling  goodreads    4.56
7      Harry Potter and the Half-Blood Prince  J.K. Rowling     amazon    4.52
8   Harry Potter and the Order of the Phoenix  J.K. Rowling     amazon    4.44
9     Harry Potter and the Chamber of Secrets  J.K. Rowling     amazon    4.37
10   Harry Potter and the Prisoner of Azkaban  J.K. Rowling     amazon    4.51
11       Harry Potter and The Deathly Hallows  J.K. Rowling     amazon    4.37
12      Harry Potter and the Sorcerer's Stone  J.K. Rowling     amazon    4.42
13        Harry Potter and the Goblet of Fire  J.K. Rowling     amazon    4.51

##### Elementary, dear Watson!
It's Friday, and you are about to finish working on your book project. For your last task, you will analyze data about Arthur Conan Doyle's books.

You realize your dataset, books_sh, needs reshaping. You notice there are columns that can be grouped using a prefix. You identify the columns to use as unique IDs. However, some of these columns contain strings. They need some manipulation before applying a wide to long transformation. You decide some of the strings need splitting to make the DataFrame cleaner.

The books_sh dataset is available for you. It contains the title, and data about version, number_pages, and number_ratings of each book.

In [55]:
filename = 'books_sh.csv'
books_sh = pd.read_csv(filename, index_col=0)
print(books_sh)
print()

# Split main_title by a colon and assign it to two columns named title and subtitle 
books_sh[['title', 'subtitle']] = books_sh['main_title'].str.split(':', expand=True)

# Split version by a space and assign the second element to the column named volume 
books_sh['volume'] = books_sh['version'].str.split(' ').str.get(1)

# Print books_sh
print(books_sh)

                               main_title version  number_pages  \
0    Sherlock Holmes: The Complete Novels   Vol I          1059
1    Sherlock Holmes: The Complete Novels  Vol II           709
2  Adventures of Sherlock Holmes: Memoirs   Vol I           334
3  Adventures of Sherlock Holmes: Memoirs  Vol II           238

   number_ratings
0           24087
1           26794
2            2184
3            1884

                               main_title version  number_pages  \
0    Sherlock Holmes: The Complete Novels   Vol I          1059
1    Sherlock Holmes: The Complete Novels  Vol II           709
2  Adventures of Sherlock Holmes: Memoirs   Vol I           334
3  Adventures of Sherlock Holmes: Memoirs  Vol II           238

   number_ratings                          title              subtitle volume
0           24087                Sherlock Holmes   The Complete Novels      I
1           26794                Sherlock Holmes   The Complete Novels     II
2            2184  Adventures of Sherlock Holmes               Memoirs      I
3            1884  Adventures of Sherlock Holmes               Memoirs     II

In [56]:
# Drop the main_title and version columns modifying books_sh
books_sh.drop(['main_title', 'version'], axis=1, inplace=True)

# Print books_sh
print(books_sh)

   number_pages  number_ratings                          title  \
0          1059           24087                Sherlock Holmes
1           709           26794                Sherlock Holmes
2           334            2184  Adventures of Sherlock Holmes
3           238            1884  Adventures of Sherlock Holmes

               subtitle volume
0   The Complete Novels      I
1   The Complete Novels     II
2               Memoirs      I
3               Memoirs     II

In [57]:
# Reshape using title, subtitle and volume as index, name feature the new variable from columns starting with number, separated by undescore and ending in words 
sh_long = pd.wide_to_long(books_sh, stubnames='number', i=['title', 'subtitle', 'volume'], j='feature', sep="_", suffix='\\w+')

# Print sh_long 
print(sh_long)

                                                                   number
title                         subtitle             volume feature
Sherlock Holmes                The Complete Novels I      pages      1059
                                                          ratings   24087
                                                   II     pages       709
                                                          ratings   26794
Adventures of Sherlock Holmes  Memoirs             I      pages       334
                                                          ratings    2184
                                                   II     pages       238
                                                          ratings    1884